.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.column ul {
  margin-left: 0;
}
.login-message {
  text-align: right;
  cursor: pointer;
}
.login-message:hover {
  opacity: 0.8;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
.error {
  position: absolute;
  font-size: 0.8rem;
  color: red;
}
