.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.column ul {
  margin-left: 0;
}
.login-message {
  text-align: right;
  cursor: pointer;
}
.login-message:hover {
  opacity: 0.8;
}
