.column {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.column ul {
  margin-left: 0;
}
.column label,
.column input {
  width: 100%;
}
.error {
  color: red;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
}
select,
textarea {
  width: 100% !important;
  border-radius: 0 !important;
}
.search-input-area {
  width: 100%;
}
.search-input {
  border: none;
  border-radius: 0;
  width: calc(100% - 48px);
}
.search-button {
  margin: 0 !important;
}
.memo-input-area > input {
  width: 100%;
  border: none;
  border-radius: 0;
}
.memo-input-area > textarea {
  width: 100%;
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
  border-radius: 0;
}
.create-memo-pane > input,
.create-memo-pane > select {
  width: 100% !important;
  border: none;
  border-radius: 0;
}
.text-length {
  text-align: right;
  vertical-align: top;
  margin-bottom: 8px;
  font-size: 0.8rem;
}
.login-message {
  text-align: right;
  cursor: default;
}
.login-message:hover {
  opacity: 0.8;
}
.row {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding: 0;
}
ul {
  padding: 0;
}
li > .memo-item,
li > .tag-item {
  cursor: default;
  margin: 0;
}
.tag-item {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.tag-checkbox-area {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}
.tag-checkbox-area > .tag-checkbox {
  appearance: none;
}
.tag-checkbox-area > .tag-label {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  cursor: default;
}
.tag-checkbox {
  appearance: auto;
  margin: 0;
  vertical-align: baseline !important;
}
.tag-name {
  margin-left: 8px;
}
.memo-content {
  text-overflow: ellipsis;
}
.memo-content:hover,
.tag-name:hover {
  color: #6cb2eb;
}
.login-form,
.register-form {
  max-width: 800px;
}
.warn {
  color: orange;
}
.error {
  color: red;
}
