.button {
  height: 2rem;
  width: 100% !important;
  cursor: pointer;
}
.button:hover {
  opacity: 0.8;
}
li.button.submit {
  background: #0d47a1;
}
.cancel {
  background: #cfd8dc;
}
.delete {
  background: #b71c1c;
}
