button {
  border-radius: 0 !important;
  margin: 8px 8px 8px 0 !important;
  padding: 8px !important;
  font-size: 0.9rem !important;
}
.list-body > .reset-button {
  padding: 0 !important;
  margin: 0 0 16px !important;
  background: rgb(71, 71, 71);
  color: white;
}
.list-body > .reset-button:hover,
.trash-icon {
  color: #ef9a9a;
}
.edit-icon {
  color: #a5d6a7;
}
.narrow-down {
  margin: 0 0 8px !important;
}
