#body {
  grid-template-columns: none;
  display: block;
}
main {
  margin: 0;
}
main > .container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
  margin: 0;
  padding: 0;
}
#tag-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
#memo-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
#create-memo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}
.list-body {
  background: rgb(71, 71, 71);
  height: 100%;
}
