ul > .modal,
li > .modal,
#tag-select-modal {
  z-index: 1100;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 80px 8px 0;
}
#tag-select-modal {
  justify-content: flex-end !important;
}
.tag-select-area {
  min-width: 240px !important;
  padding: 8px;
  display: flex;
  flex-direction: column;

  background: rgb(71, 71, 71);
}
.tag-select-list {
  max-height: 400px;
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.tag-select-item {
  display: flex;
}
.modal > .memo-edit-area {
  width: 90%;
  max-width: 560px;
}
.memo-edit-area > textarea {
  width: 100%;
  margin-bottom: 0;
}
.memo-title-edit-input {
  border-radius: 0;
  width: 100%;
}

ul > .tag-edit-modal {
  position: absolute !important;
  justify-content: flex-start;
}
.tag-edit-area {
  display: inline-flex;
}

.tag-edit-input {
  margin: 0;
  min-width: 240px;
  border-radius: 0;
}
.date-area {
  display: flex;
  justify-content: flex-end;
}
.date-area > .date {
  font-size: 0.8rem;
  margin-left: 16px;
}
